<style>
    .select_type {
        text-align: center;
    }
    .btn-group-justified > .btn, .btn-group-justified > .btn-group {
        float: none;
        display: table-cell;
        width: 1%;
    }
    .btn-outline-dark {
        margin-top: 30px;
    }
    .material-icons {
        font-size: 40px;
    }
</style>
<div class="container select_type">
    <h1>{{#str}}addnewcourse, moodle{{/str}}</h1>
    <div class="justify-content-center">
        <div class="btn-group" role="group">
            <a href='{{{url_all}}}' class="btn btn-outline-dark">{{#str}}choice_type:all, local_uca_create_courses{{/str}}</a>
            <a href='#' class="btn btn-outline-dark create_other">{{#str}}choice_type:other, local_uca_create_courses{{/str}}</a>
        </div>
        <hr/>
        <div class="btn-group others_types" role="group">
            {{#types}}
                <a href='{{{url}}}' class="btn btn-outline-dark"><i class="material-icons">{{{icon}}}</i> <br/>{{{name}}}</a>
            {{/types}}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //We show the "others types" if this option is chosen.
        $('.others_types').hide();
        $('.create_other').click(function () {
            $('.others_types').show();
        });
    });
</script>